streamlit
langchain
langchain-ollama
langchain-core
langchain-community
#langchain_core
#langchain_community
#langchain_ollama
#git+https://github.com/ollama/langchain-ollama.git@main#egg=langchain_ollama
pdfplumber
